.App {
	text-align: center;
  justify-content: center;
  padding-top: 30px;
}
.container{
  background-color: #1A1B21;
  width: 317px;
  height: 800px;
  margin: auto;
}

.image{
  background-image: url('../../images/Rectangle\ 90.png');
  width: 100%;
  height: 350px;
  background-repeat: no-repeat;
}

.container > h2{
  color: white;
  font-size: 30px;
  line-height: 0.5rem;
}

.container > h5{
  color: #F3BF99;
  line-height: 0.5rem;
}

.container > small{
  color: white;
  line-height: 1rem;
  margin-bottom: 10px;
}

.button--place{
  display: flex;
  justify-content: center;
}
.button--place > .button--one{
  /* margin-right: 10px; */
  width: 100px;
  height: 100px;
  align-items: center;
}
.button--place > .button--one >button{
  width: 100px;
  height: 30px;
  align-items: center;
  display: flex;
  border: none;  
  border-radius: 5px;
  margin-right: 10px;
  padding: 10px;
}
.button--place > .button--two >button{
  width: 100px;
  height: 30px;
  align-items: center;
  display: flex;
  background-color: #5093E2;
  border: none;  
  border-radius: 5px;
  margin-left: 10px;
  padding: 10px;
}
.button--place > .button--two{
  /* margin-left: 10px; */
}

